
<%unless @article.errors.empty? %>
  <ul style="color: red">
    <%@article.errors.full_messages.each do |message| %>
      <li><%= message %></li>

    <% end %>
  </ul>
<% end %>

<%= render  "form", is_edit: true %>