<div class="container mt-3" style="height: 80vh">
  <div class="p-5 text-center bg-image rounded-3" style="
  background-image: url('/hero_image.jpg');
    height: 400px;
    background-size: cover;
  ">
    <div class="mask"  style="background-color: rgba(0, 0, 0, 0.6); height: 100%">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Abdullah's Blog</h1>
          <a data-mdb-ripple-init class="btn btn-outline-light btn-lg btn-success" href="#!" role="button">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>